/* CDN 2 : style 안에서 불러온다. */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


form {
    width: 520px;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 50px auto 0;
}

.input-group{
    margin: 10px 0;
    
}
.btn{
    font-size: 17px;
    text-align: center;
    padding: 16px;
    border-radius: 2px;
}
.login{
    color: white;
    background-color: #0074e9;
}
.join{
    color: #0074e9;
    background-color: white;
    border: 1px solid #ccc;
}

.input-check-find{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

footer, header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 196px;
    height: 46px;
    margin-bottom: 10px;
}
